/*An extention file for css related to the Layout (flex-/gridbox)*/
/*--------------------------------------------------------------*/

/*History pages as a flexbox*/
.history-pages {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.history-pages-nav,
#legal-docs-div {
    display: flex;
    flex: 1;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;
}

.history-pages-nav li,
#legal-docs-div li {
    display: flex;
}

.history-pages-nav li a,
#legal-docs-div li a {
    display: flex;
    text-decoration: none;
    border: 1px solid var(--default-text);
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    width: 180px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.history-link:hover {
    font-weight: bold;
    border-color: var(--default-border);
}

main {
    display: grid;
}

/*Grid-layout for screen > 600px*/
@media (min-width: 600px) {
    main {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto 1fr auto;
        gap: 1px;
    }

    #description-section {
        grid-column: 1/-1;
        grid-row: 1;
    }

    #requirements-section {
        grid-column: 1/-1;
        grid-row: 2;
    }

    #registration-section {
        grid-column: 1/-1;
        grid-row: 3;
    }

    #history-section {
        grid-column: 2;
        grid-row: 4;
    }

    #tournament-section {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 0;
        grid-column: 1;
        grid-row: 4/-1;
        justify-content: end;
        margin-right: 8em;
    }

    #podium-section {
        grid-column: 2;
        grid-row: 5;
    }

}



/*Grid-layout for screen > 300px & < 600px (tablet-view)*/
@media (min-width: 300px) and (max-width: 600px) {
    main {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        gap: 1px;
    }

    #description-section {
        grid-column: 1;
        grid-row: 1;
    }

    #requirements-section {
        grid-column: 1;
        grid-row: 2;
    }

    #registration-section {
        grid-column: 1;
        grid-row: 3;
    }

    #tournament-section {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 0;
        grid-column: 1;
        grid-row: 4;
        justify-content: end;
    }

    #podium-section {
        grid-column: 1;
        grid-row: 5;
    }

    #history-section {
        grid-column: 1;
        grid-row: 6;
    }

}

/*Grid-layout for screen < 300px (mobile-view)*/
@media (max-width: 300px) {
    main {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        row-gap: 0px;
    }

    #description-section {
        grid-column: 1;
        grid-row: 1;
    }

    #requirements-section {
        grid-column: 1;
        grid-row: 2;
    }

    #registration-section {
        grid-column: 1;
        grid-row: 3;
    }

    #tournament-section {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 0;
        grid-column: 1;
        grid-row: 4;
        justify-content: end;
    }

    #tournament-process-div table{
        font-size: 0.5em;
    }

    #tournament-process-div a {
        font-size: 0.8em;
    }

    #podium-section {
        grid-column: 1;
        grid-row: 5;
    }
    #podium-div{
        font-size: 0.8em;
    }

    #history-section {
        grid-column: 1;
        grid-row: 6;
    }
    #footer-nav-bar ul {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 1.5em;
        align-items: center;
        justify-content: center;
    }
}