body {
      margin: 0;
      overflow-x: hidden;
}

header {
      color: #d4d4d4;
      font-size: 1.5em;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.80);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}

#header-title {
      display: block;
      text-align: center;
}

header h1 {
      font-size: 2.5em;
}

#bg-video {
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      /* fixed to left. Replace it by right if you want.*/
      min-width: 100%;
      min-height: 100%;
      width: 100vw;
      height: 100vh;
      object-fit: fill;
}

nav {
      margin-top: 50px;
}

.menu {
      display: flex;
      padding-left: 0;
      gap: 2.5em;
}

.menu li {
      height: 80px;
      display: flex;
      margin: 0;
      padding: 0;
      /* distribute gap between list items evenly */
      flex: 1;
      align-items: center;
}

.menu li a {
      display: flex;
      text-decoration: none;
      font-size: 0.75em;
      border: 2px solid white;
      border-radius: 25px;
      margin: 5px;
      height: 30px;
      text-align: center;
      align-items: center;
      justify-content: center;

      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
}

/*
      hover effect for the nav bar elements
*/
.menu li a:hover {
      font-weight: bold;
      border-width: 3px;
      border-color: goldenrod;
}

.icon {
      /* Fügt einen Abstand zwischen dem Icon und dem Text hinzu */
      margin-right: 10px;
      width: 29px;
      height: 29px;
}

@media only screen and (max-width: 600px) {
      .menu {
            flex-direction: column;
      }
}