@import 'https://fonts.googleapis.com/css2?family=Rubik&display=swap';

/*General*/
body {
    font-family: "Rubik", sans-serif;

    /*
        define the custom color palette used in our UI
    */
    --default-dark: #1c1c1c;
    --default-border: #fde4c3;
    --default-text: #f6f6f6;
    --default-background: #1c1c1c;

    /* white mode color palette */
    --default-white: #f6f6f6;
    --white-border: #1f1f1f;
    --white-text: #1f1f1f;
    --white-background: #f6f6f6;

    --border-thickness: 0.15em;

    color: #d4d4d4;
    background-color: var(--default-dark);
}

main {
    width: 82%;
    margin: 0px auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

footer {
    width: 100%;
    margin-bottom: 3em;
}
img {
    width: 29px;
    height: 29px;
}

a {
    text-decoration: none;
    color: var(--default-text);
}

a:hover {
    text-decoration: underline;
}

table {
    margin: 0 auto;
    border-spacing: 18px;
}

td,
tr {
    border-style: solid;
    border-width: 1px;
    border-radius: 5%;
    padding: 15px;
    text-align: center;
}

/*------------------------------------
Footer-navigation-bar 
*/
#footer-nav-bar {
    width: 82%;
    margin: 0px auto;
    border-top: var(--border-thickness) solid var(--default-border);
    border-bottom: var(--border-thickness) solid var(--default-border);
}

#footer-nav-bar ul {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    list-style: none;
    gap: 5em;
    align-items: center;
    justify-content: center;
}
/*-------------------------------------*/

/*------------------------------------
Tournament-process table
*/
.quarter-final-td {
    border-radius: 25%;
    padding: 25px;
}

.semi-final-td {
    border-radius: 10%;
}

.final-td {
    border-radius: 0%;
}

#impressum {
    border-radius: 3%;
}
/*-------------------------------------*/

/*------------------------------------
Podium table
*/
#podium {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 20em;
    align-items: flex-end;
    justify-content: center;
}

#second {
    height: 70%;
    background-color: silver;
}

#first {
    height: 90%;
    background-color: gold;
    font-size: larger;
}

#third {
    height: 50%;
    background-color: #cd7f32;
    font-size: smaller;
}

.stage {
    width: 7.5em;
    border-radius: 20px;
}

.stage-text {
    margin-top: 1.5em;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.stage-text img {
    width: 48px;
    height: 48px;
}

.stage-text b {
    text-align: center;
}
/*-------------------------------------*/

/*
main section layout 
*/

h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0%;
    padding-bottom: 1em;
    padding-left: 2.5em;
}

/*
use the element-child selector to layout the icons of the titles
*/
h2>img {
    vertical-align: middle;
    margin-right: 0.5em;
}

/*
use the adjacent selector to design the sections following a title
*/

h2+div {
    border-width: var(--border-thickness);
    border-color: var(--default-border);

    border-style: solid;
    border-radius: 20px;

    margin-bottom: 7em;

    padding: 2em;
    background-color: var(--default-background);
}

#mode-switch-button {
    padding: 7px;
    border: 2px solid var(--default-dark);
    border-radius: 20%;
}

aside {
    display: flex;
    margin-top: 2.5em;
    gap: 80%;
    align-items: center;
    width: 82%;
    margin-left: 9%;
    justify-content: center;
}

.placement-col {
    padding-bottom: 2cm;
    padding-bottom: 4cm;
}

#participant-list {
    display: flex;
    justify-content: center;
}

#tournament-section>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tournament-reference {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
    border: 1px solid white;
    border-radius: 25px;
    padding: 25px;
}

#mode-switch-button {
    background: none;
    border: none;
}

/*Input-Interface CSS*/

input{
    width: 1.7em;
}

.score-text-input {
    background-color: var(--default-dark);
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    font-family: "Rubik", sans-serif;
}

.score-text-input[type="text"] {
    text-align: center;
    font-size: 1em;
}

.tournament-tree-td {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    align-items: center;
    justify-content: center;
}

.score-input-button {
    background: none;
    border: none;
    color: var(--default-text);
}

.score-input-button:hover {
    transform: scale(1.2);
}