@import 'https://fonts.googleapis.com/css2?family=Rubik&display=swap';

body {
    font-family: "Rubik", sans-serif;
    color: #d4d4d4;
    background-color: #1F1F1F;
}

img {
    width: 29px;
    height: 29px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

table {
    margin: 0 auto;
}

table,
td,
tr {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5%;
    padding: 15px;
}

#participants-table{

    background-color: #2e2e2e;
    border-color: #d4d4d4;
    border-radius: 3%;
}

#impressum{

    border-radius: 3%;
}

tbody td,
tbody tr {
    border-width: 1px 1px 1px 3px;
}


#podium-table{
    color: #1F1F1F;
    border: none;
    font-family: Geneva, Tahoma, sans-serif;
    font-style:inherit;
    text-decoration-style:solid;
    table-layout:auto;
}

#trophy{

    top:auto;
}

#first-winner {
    background-color: gold;
    max-height: 3cm;
    text-align:center;
    padding-left: 1cm;
    padding-right: 1cm;
    border-radius: 5%;
    max-width:1cm;

}

.podium-text{
    margin-top: 0.3cm;
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    gap: 2mm;

}

#second-winner {
    background-color: silver;
    padding-bottom: 3mm;
    height: 3cm;
    border-left: none;
    border-right:none;
    text-align:end;
    padding-right: 5mm;
    border-bottom:none;
    padding-top:none;
    border-top-width: 1%;
    padding-left: 7mm;
    width: 1cm;
}

#third-winner {
    border-color: none;
    background-color: #bf8970;
    padding-bottom: 3mm;
    border-left: none;
    height: 2cm;
    text-align:center;
    padding-top: none;
    padding-right: 5mm;
    border-bottom:none;
    border-top-width: 1cm;
    width:1cm;
}

.removed-cell {
    border: none;
    background-color: #1F1F1F;
}


/*
main content sections layout 
*/

h2 {
    font-size: 1.4em;
    margin-left: 10%;
    margin-top: 70px;
}

/*
use the element-child selector to layout the icons of the titles
*/
h2 > img {
    vertical-align: middle;
    padding-right: 10px;
}

/*
use the adjacent selector to design the sections following a title
*/
h2 + div {
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 20px;

    margin-left: 8%;
    margin-right: 8%;
    margin-top: 25px;
    margin-bottom: 70px;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#mode-switch-button {
    padding: 7px;
    border: 2px solid #1F1F1F;
    border-radius: 20%;
}

aside {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.placement-col {
    padding-bottom: 2cm;
    padding-bottom: 4cm;
}
#participant-list{
    display:flex;
    justify-content: center;
}

footer {
    
}

