header {
    text-align: center;
    margin-top: 3em;
}

#imprint-list {
    list-style: none;
}

#subpages-div{
    display:flex;
    flex-flow: row;
    gap: auto;
    justify-content: center;
}

#subpages-div ul{
    display: flex;
    flex-flow: row;
    gap: 0.5em;
    justify-content: center;
}

#subpages-div li{
    display:flex;
    justify-content: center;
}

#subpages-div ul a{
    display: flex;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    width: 180px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
main
=======

.stage {
    width: 10em;
}

footer {
    width: 82%;
    margin: 0px auto;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 3em;
}

main
.ranking-gold {
    color:gold;
}
.ranking-silver {
    color:silver;
}
.ranking-bronze{
    color:#bf8970;
main
=======
}

h2 + div {
    margin-bottom: 4em;
main
}